platform_dbt:
  target: dev
  outputs:
    dev:
      type: postgres
      host: localhost
      port: 5432
      user: svc_airflow
      password: <MOT_DE_PASSE>
      dbname: warehouse
      schema: bronze
      threads: 2
    snowflake:
      type: snowflake
      account: <ACCOUNT_SNOWFLAKE>
      user: <USER_SNOWFLAKE>
      password: <PASSWORD_SNOWFLAKE>
      role: ACCOUNTADMIN
      warehouse: PLATFORM_WH
      database: PLATFORM_DB
      schema: SILVER
      threads: 2
